body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.custom-heading {
    color: #0d6efd;
    font-weight: bold;
}

.section-title {
    margin-top: 30px;
    font-weight: 600;
}

.career-img {
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.custom-btn {
    padding: 10px 25px;
    font-weight: bold;
}
.custom-card {
    transition: transform 0.2s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
}